.address-book{
    font-family: 'Gotham Book';
    font-weight: 500;
}
.address-book h1 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.address-book .default-address {
    margin-top: 40px;
    margin-bottom: 40px;
}
.address-book .address-label {
    font-size: 20px;
    line-height: normal;
    font-weight: 600;
}
.address-book .address-content {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 16px;
    .address-box{
        width: 100%;
        .box-content{
            address{
                margin-bottom: 0px;
            }
        }
    }
    .additional-address{
        .white-box-content{
            display: flex;
            justify-content: space-between;
            .box-content{
                address{
                    margin: 0px;
                }
            }
            .box-action{
                width: 100%;
                max-width: 78px;
                .address-action{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 12px;
                    svg{
                        margin-inline-end: 8px;
                    }
                }
                .address-remove{
                    margin-top: 16px;
                }
            }
        }
    }
}
.address-book .box-title {
    color: #2d2d2d;
    font-weight: 500;
    font-size: 16px;
}
.address-book .box-content > address {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0px;
}
.address-book .box-action > a > span {
    color: #101820;
    text-decoration: underline;
}
.address-book .additional-address .table-wrap {
    padding: 10px 0px;
    margin-top: 10px;
}
.address-book .additional-address .table-wrap table {
    font-size: 14px;
    color: #101820;
    background-color: #fafafa;
    width: 100%;
}
.address-book .additional-address .table-wrap table > thead {
    background-color: #dcdcdc;
}
.address-book .additional-address .table-wrap table tr:nth-child(2n) {
    background-color: #eaeaea;
}
.address-book .additional-address .table-wrap table tr th {
    padding: 5px;
    font-size: 14px;
}
.address-book .additional-address .table-wrap table tr td {
    padding: 5px;
}
.address-book .additional-address .table-wrap a {
    padding: 5px;
    color: #2335c5;
}
.address-book .additional-address .table-wrap a.edit {
    color: #101820;
}
.address-book .additional-address .table-wrap a.delete {
    color: #101820;
}
.address-book .additional-address .pagination {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}
.address-book .additional-address .pagination > ul {
    display: inline-block;
    width: 55%;
    text-align: right;
}
.address-book .additional-address .pagination > ul li {
    min-width: 30px;
    height: 22px;
    margin: 5px;
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
}
.address-book .additional-address .pagination > ul li:hover {
    background-color: #fbc96a;
}
.address-book .additional-address .pagination > ul li.active {
    background-color: #fbc96a;
}
.address-book .additional-address .pagination > ul li.disabled {
    background-color: #eaeaea;
    color: #b5b5b5;
}
.address-book .additional-address .pagination > ul li.disabled > a {
    color: #b5b5b5;
    cursor: auto;
}
.address-book .additional-address .pagination > ul li > a {
    text-decoration: none;
    user-select: none;
    display: block;
    line-height: 22px;
    padding: 0px;
}
.address-book .additional-address .pagination > ul li > a:visited,
.address-book .additional-address .pagination > ul li > a:visited {
    text-decoration: none;
    user-select: none;
}
.address-book .additional-address .pagination .info {
    min-width: 150px;
    line-height: 32px;
}
.address-book .additional-address .pagination .options-size {
    min-width: 150px;
    line-height: 32px;
}
.address-book .additional-address .pagination .options-size > select {
    border: 1px solid #eaeaea;
    margin: 0px 5px;
}
.address-book .btn {
    background-color: #101820;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
    max-width: 278px;
    min-height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        text-transform: uppercase;
        font-family: 'Gotham Book';
        font-weight: 600;
        font-size: 16px;
        line-height: 34px;
        span{
            color: #ffffff;
        }
    }
    &.add-new-address {
        margin-top: 60px;
    }
    &:hover {
        opacity: 0.8;
    }
}

// page add new, edit address
.address-book{
    .edit-address{
        .title-page-address{
            color: #101820;
            font-family: Gotham Book;
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
            text-transform: uppercase;
        }
        #address-form{
            display: flex;
            margin-top: 40px;
            .col-left{
                margin-top: 0px;
                margin-bottom: 30px;
                flex-basis: 328px;
            }
            .col-right{
                margin-top: 0px;
                margin-bottom: 30px;
                flex-basis: 328px;
                margin-inline-start: 64px;
            }
            .col-label{
                color: #101820;
                font-family: Gotham Book;
                font-size: 20px;
                font-weight: 500;
                line-height: 20px;
            }
            .form-row{
                margin-bottom: 20px;
                label{
                    color: #101820;
                    font-family: Gotham Book;
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 10px;
                    text-transform: uppercase;
                    height: 10px;
                    span{
                        display: inline-block;
                        height: 10px;
                    }
                }
                input{
                    margin-top: 8px;
                    border: 1px solid #E0E0E0;
                    width: 100%;
                    height: 48px;
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 500;
                    color: #101820;
                    padding: 5px 16px;
                    border-radius: 0px;
                    box-shadow: none;
                }
                #input-email{
                    cursor: not-allowed;
                }
                select{
                    display: block;
                    width: 100%;
                    user-select: none;
                    min-width: unset;
                    min-height: 48px;
                    background-color: #ffffff;
                    font-family: Gotham Book;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    color: #101820;
                    border-radius: unset;
                    padding-left: 13px;
                    padding-right: 16px !important;
                    border: 1px solid #e0e0e0;
                    margin-top: 8px;
                }
                .checkbox{
                    padding: 5px 10px;
                    margin: 0px;
                    display: flex;
                    align-items: center;
                    input{
                        width: 24px;
                        height: 24px;
                        padding: 0px;
                        margin: 0px;
                        margin-right: 5px;
                        vertical-align: middle;
                        border: 1px solid #101820;
                        appearance: none!important;
                        font-family: Linearicons;
                        color: white;
                        position: relative;
                        cursor: pointer;
                    }
                    input::before{
                        content: '\e934';
                        position: absolute;
                        top: 4px;
                        left: 4px;
                        font-weight: bold;
                    }
                    label{
                        // cursor: pointer;
                        margin-bottom: 0px;
                        vertical-align: middle;
                    }
                }
            }
            .form-button{
                margin-top: 40px;
            }
        }
    }
}

.form-row.state-province .state-option {
    display: flex;
    flex-wrap: wrap;
    label{
        margin-bottom: 8px;
        display: flex;
        align-items: center;
    }
}
.form-row.state-province .state-option > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 1444px) {
    .address-book .additional-address {
        .col.phone,
        .row.phone,
        .col.zip,
        .row.zip,
        .col.lastname,
        .row.lastname,
        .col.state,
        .row.state {
            display: none;
        }
    }
}

@media (max-width: 1024px) {
    .address-book .additional-address .table-wrap table > thead {
        display: none;
    }
    .address-book .additional-address tr {
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .address-book .billing-address {
        margin-right: 0px;
    }
    .address-book .shipping-address {
        margin-right: 0px;
    }
}

@media (max-width: 767px) {
    .address-book{
       .address-content{
           display: block !important;
           .address-box{
               margin-bottom: 10px;
           }
       }
       #address-form{
            display: block !important;
            .col-left{

            }
            .col-right{
                margin-left: unset !important;
            }
       }
    }
}


.mobile{
    .customer-dashboard{
        &.address-book{
            min-height: 536px!important;
        }
    }
    .address-book{
        h1{
            font-size: 18px;
        }
        .default-address{
            margin-top: 18px;
            margin-bottom: 15px;
            padding-top: 0px;
        }
        .address-content{
            .billing-address{
                margin-inline-end: 0px;
                margin-bottom: 10px;
            }
            .additional-address:nth-child(2n+1) {
                margin-inline-end: 0px;
                margin-bottom: 10px;
            }
        }
        .add-new-address{
            margin-top: 30px;
        }
        .edit-address .form-row{
            input{
                height: 38px;
                border: 1px solid #e0e0e0;
            }
            select{
                width: 100%;
                height: 38px;
                border: 1px solid #e0e0e0;
                border-radius: 0px;
            }
            .checkbox{
                height: 38px;
                display: flex;
                flex-direction: row;
                input{
                    height: 28px;
                    margin-right: 0px;
                    margin-inline-end: 5px;
                    position: relative;
                }
                label{
                    display: flex;
                    align-items: center;
                    height: 28px;
                }
            }
            .state-option{
                label{
                    margin-bottom: 8px;
                }
                >div{
                    width: 100%;
                }
            }
        }
    } 
}

// right to left
.rtl-root{
    .address-book{
        .form-row.state-province{
            .state-option{
                display: block !important;
            }
        }
        #address-form{
            .checkbox{
                input{
                    margin-right: unset !important;
                    margin-left: 5px !important;
                }
            }
            .col-left{
                .custom-input{
                    .react-tel-input{
                        @media(max-width: 500px){
                            width: 100% !important; 
                        }
                    .element-2{
                        background-color: #ffffff;
                        width: 77%;
                    }
                    }
                }
            }
            .col-right{
                @media(max-width: 767px){
                    margin-right: unset !important;
                }
            }
        }
    }
}