<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="simiocean" translate="label" sortOrder="200" showInDefault="1">
            <class>separator-top</class>
            <label>Ocean ERP</label>
            <tab>simi</tab>
            <resource>Simi_Simi::config_simi</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Disable or enable synchronization with Ocean ERP</comment>
                </field>
                <field id="arstore" translate="label" type="multiselect" sortOrder="1" showInDefault="1">
                    <label>Arabic Store</label>
                    <source_model>Simi\Simiocean\Model\Config\Source\Store</source_model>
                    <comment>Select store to map Arabic language from Ocean. If there is no selecting then use Eng language for all stores.</comment>
                </field>
            </group>
            <group id="auth" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>Auth Info</label>
                <field id="server_api" translate="label" type="text" sortOrder="1" showInDefault="1">
                    <label>Server API</label>
                    <comment>Start with http:// or https://, for example: "http://91.140.251.165:9292/TestOceanAPI/"</comment>
                </field>
                <field id="private_key" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>Private Key</label>
                    <comment></comment>
                </field>
                <field id="public_key" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Public Key</label>
                    <comment></comment>
                </field>
            </group>
            <group id="options" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>Sync Options</label>
                <!-- <field id="skip_product" translate="label" type="select" sortOrder="1" showInDefault="1">
                    <label>Skip Product when delete from Ocean ERP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="skip_customer" translate="label" type="select" sortOrder="1" showInDefault="1">
                    <label>Skip Customer when delete from Ocean ERP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->
                <field id="product_number" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>Number of the product syncing each a cron job run</label>
                    <comment>The default value is 10. Be careful with your number putting to here too hight, it may take your server hight the CPU%.</comment>
                </field>
                <field id="customer_number" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Number of the customer syncing each a cron job run</label>
                    <comment>The default value is 100. Be careful with your number putting to here too hight, it may take your server hight the CPU%.</comment>
                </field>
            </group>

            <group id="cron" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>Cron Options</label>
                <field id="product_pull" translate="label" type="text" sortOrder="1" showInDefault="1">
                    <label>Product Pull</label>
                    <comment><![CDATA[
<pre>
 * * * * *
 | | | | |
 | | | | +---- Day of the Week   (range: 1-7, 1 standing for Monday)
 | | | +------ Month of the Year (range: 1-12)
 | | +-------- Day of the Month  (range: 1-31)
 | +---------- Hour              (range: 0-23)
 +------------ Minute            (range: 0-59)
 Example: 0 0 * * * Daily at midnight
        0/5 * * * * Run every 5 minutes
</pre>
                            ]]></comment>
                </field>
                <field id="customer_pull" translate="label" type="text" sortOrder="1" showInDefault="1">
                    <label>Customer Pull</label>
                    <comment><![CDATA[
<pre>
 * * * * *
 | | | | |
 | | | | +---- Day of the Week   (range: 1-7, 1 standing for Monday)
 | | | +------ Month of the Year (range: 1-12)
 | | +-------- Day of the Month  (range: 1-31)
 | +---------- Hour              (range: 0-23)
 +------------ Minute            (range: 0-59)
 Example: 0 0 * * * Daily at midnight
        0/5 * * * * Run every 5 minutes
</pre>
                            ]]></comment>
                </field>
                <field id="customer_push" translate="label" type="text" sortOrder="1" showInDefault="1">
                    <label>Customer Push</label>
                    <comment><![CDATA[
<pre>
 * * * * *
 | | | | |
 | | | | +---- Day of the Week   (range: 1-7, 1 standing for Monday)
 | | | +------ Month of the Year (range: 1-12)
 | | +-------- Day of the Month  (range: 1-31)
 | +---------- Hour              (range: 0-23)
 +------------ Minute            (range: 0-59)
 Example: 0 0 * * * Daily at midnight
        0/5 * * * * Run every 5 minutes
</pre>
                            ]]></comment>
                </field>
                <field id="invoice_push" translate="label" type="text" sortOrder="1" showInDefault="1">
                    <label>Invoice Push</label>
                    <comment><![CDATA[
<pre>
 * * * * *
 | | | | |
 | | | | +---- Day of the Week   (range: 1-7, 1 standing for Monday)
 | | | +------ Month of the Year (range: 1-12)
 | | +-------- Day of the Month  (range: 1-31)
 | +---------- Hour              (range: 0-23)
 +------------ Minute            (range: 0-59)
 Example: 0 0 * * * Daily at midnight
        0/5 * * * * Run every 5 minutes
</pre>
                            ]]></comment>
                </field>
                
            </group>
            
            <!-- <group id="cron_product_pull" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>Product Cron Options</label>
                <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Simi\Simiocean\Model\Config\Backend\Product\Pull</backend_model>
                </field>
                <field id="time" translate="label" type="time" sortOrder="2" showInDefault="1">
                    <label>Start Time</label>
                </field>
            </group>
            <group id="cron_customer_pull" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>Customer Cron Options</label>
                <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Simi\Simiocean\Model\Config\Backend\Customer\Pull</backend_model>
                </field>
                <field id="time" translate="label" type="time" sortOrder="2" showInDefault="1">
                    <label>Start Time</label>
                </field>
            </group> -->

            <group id="develop" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>Develop</label>
                <field id="debug" translate="label" type="select" sortOrder="1" showInDefault="1">
                    <label>Debug on</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show debug on log file.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
