ul.address-item {
    li {
        font-family: 'Gotham Book';
        font-weight: 600;
        label {
            font-weight: 500;
        }
        span {
            font-weight: 600;
        }
    }
}