
.checkbox-item {
    font-weight: 400;
    display: flex;
    min-height: 24px;
    margin-top: 8px;
}

.checkbox-item:hover {
    cursor: pointer;
    color: rgb(11, 91, 40);
}

.checkbox-item .checkbox-item-icon {
    width: 16px;
    height: 16px;
    border: 1px solid #101820;
    margin-top: 1px;
    margin-right: 9px;
    background-repeat: no-repeat;
}
.checkbox-item .checkbox-item-icon .selected {
    width: 5px;
    height: 11px;
    border-right: 2px solid #101820;
    border-bottom: 2px solid #101820;
    transform: rotate(45deg);
    margin: auto;
}